h1 {
  text-align: center;
  margin: 2rem;
}

button {
  margin: 0.5rem;
}

body {
  background-color: lightcyan;
}

.home-div {
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 2%;
}

.card-mb-2-h-100 {
  overflow: hidden;
}

.ability-form {
  border-top: 1px dashed black;
  padding-top: 2%;
  text-align: center;
}

.card-header {
  border: 1px dashed black;
}

.pokemon-col {
  margin-top: 2%;
  margin-bottom: 2%;
}

.container-buttons {
  margin: 1%;
}

.type-buttons {
  display: flex;
  justify-content: space-around;
}
